:root {
    --pink: #ff9595;
    --background: #eeeded;
    --black: #495464; 
    --grey: #bbbfca ;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

html {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    }

body {
    background-color: var(--background);
    }

.container__test {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: 20px;
    width: 100vw;
    }

.test__text {
    align-items: center;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    }

h1 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    }

h1 b {
    font-size: 2rem;
    color: var(--pink);
    }

h4 {
    font-size: 1.2rem;
    font-weight: normal;
    }

/*cards*/
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    }

/*prueba de checkbox*/
.cards__container {
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 20px -16px rgba(52,43,56,0.42);
    border-radius: 10px;
    color: var(--grey);
    display: flex;
    font-size: 2rem;
    font-weight: 500;
    height: 80px;
    justify-content: center;
    max-width: 450px;
    margin: 10px; 
    min-width: 250px;
    }

.cards__container:hover {
    border: 3px solid var(--pink);
    background-color: var(--black);
    color: white;
    }

/*checkbox*/
/* Centra el input personalizado con el texto */
.cards__checkbox {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    }

/*Texto*/
.cards__checkbox--text {
    margin-bottom: 10px;
    }

/* Modificador para dar la imagen de checkbox */
.cards__checkbox--show-stone {
    background-image: url('./items/stone.svg');
    }

/* Oculta input original */
.cards__checkbox > .cards__checkbox--input {
    display: none;
    }

/* Radio personalizado usando <span> */
.cards__checkbox > .cards__checkbox--show {
    background-size: cover;
    height: 50px;
    margin-right: 1.2rem;
    margin-bottom: 10px;
    width: 50px;
    }

/* Cambia el checkbox personalizado cuando es pulsado */
.cards__checkbox > .cards__checkbox--input:checked + .cards__checkbox--show-stone {
    background-image: url('./items/stone-hover.svg');
    }
    
/*Cambiar el background de papel*/
.cards__checkbox--show-paper {
background-image: url('./items/paper.svg');
}

.cards__checkbox > .cards__checkbox--input:checked + .cards__checkbox--show-paper {
background-image: url('./items/paper-hover.svg');
}

/*Cambiar el background de tijeras*/
.cards__checkbox--show-scissors {
background-image: url('./items/scissors.svg');
}

.cards__checkbox > .cards__checkbox--input:checked + .cards__checkbox--show-scissors {
background-image: url('./items/scissors-hover.svg');
}

/*fin checkbox*/
.prueba__background {
    color: white;
    background-color: var(--black);
    }

/*boton*/
.button{
    align-items: center;
    background-color:var(--pink);
    border-radius: 10px;
    display: flex;
    border: none;
    font-weight:normal;
    height: 40px;
    font-size:1.8rem;
    justify-content: center;
    color:#ffffff;
    text-decoration:none;
    outline: none;
    width: 70%;
    max-width: 450px;
    }

.button:hover {
    border: 3px solid white;
    box-shadow: 10px 10px 20px -16px rgba(52,43,56,0.42);
    }